<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Poema #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-6 text-left col-sm-6">

              <div class="input-group mb-3">
                <span class="input-group-text">En un </span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
                <span class="input-group-text">de mi</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Vive mi propio</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">es azul,</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
                <span class="input-group-text">, y me sonríe</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">con la</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
                <span class="input-group-text">leve</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">del que sabe</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">cosas que no le he contado a nadie.</span>
              </div>



              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#poema1">Crear</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Poema #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-6 text-left col-sm-6">

              <div class="input-group mb-3">
                <span class="input-group-text">Si me miro en tu </span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si soy la</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
                <span class="input-group-text">y el</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si tus ojos son mi espejo</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Y tu</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
                <span class="input-group-text">es mi</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si vuelvo a nacer en cada</span>
              </div>

              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si soy este o si soy aquel</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Confundo el</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra">
                <span class="input-group-text">y la sombra</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Y aunque el reflejo me nombra</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Yo ya no sé si soy él.</span>
              </div>

              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#poema2">Crear</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
