<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Poema #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-6 text-left col-sm-10">

              <div class="input-group mb-3">
                <span class="input-group-text">En un </span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema1.Palabra1a">
                <span class="input-group-text">de mi</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema1.Palabra1b">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Vive mi propio</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema1.Palabra1c">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">es azul,</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema1.Palabra1d">
                <span class="input-group-text">, y me sonríe</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">con la</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema1.Palabra1e">
                <span class="input-group-text">leve</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">del que sabe</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">cosas que no le he contado a nadie.</span>
              </div>



              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#poema1">Crear</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Poema #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-6 text-left col-sm-10">

              <div class="input-group mb-3">
                <span class="input-group-text">Si me miro en tu </span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema2.Palabra2a">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si soy la</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema2.Palabra2b">
                <span class="input-group-text">y el</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema2.Palabra2c">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si tus ojos son mi espejo</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Y tu</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema2.Palabra2d">
                <span class="input-group-text">es mi</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema2.Palabra2e">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si vuelvo a nacer en cada</span>
              </div>

              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema2.Palabra2f">
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si soy este o si soy aquel</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Confundo el</span>
                <input type="text" class="form-control" placeholder="ingrese palabra" aria-label="ingrese palabra" [(ngModel)]="poema2.Palabra2g">
                <span class="input-group-text">y la sombra</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Y aunque el reflejo me nombra</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Yo ya no sé si soy él.</span>
              </div>

              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#poema2">Crear</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Poema 1 -->
<div class="modal fade" id="poema1" tabindex="-1" aria-labelledby="poemaModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="poemaModalLabel1">Poema 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-6 text-left col-sm-10">

              <div class="input-group mb-3">
                <span class="input-group-text">En un </span>
                <span class="input-group-text" [style.font-weight]="negrita" > {{poema1.Palabra1a}} </span>
                <span class="input-group-text">de mi</span>
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema1.Palabra1b}} </span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Vive mi propio</span>
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema1.Palabra1c}}</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">es azul,</span>
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema1.Palabra1d}} </span>
                <span class="input-group-text">, y me sonríe</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">con la</span>
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema1.Palabra1e}}</span>
                <span class="input-group-text">leve</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">del que sabe</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">cosas que no le he contado a nadie.</span>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Imprimir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Poema 2 -->
<div class="modal fade" id="poema2" tabindex="-1" aria-labelledby="poemaModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="poemaModalLabel2">Poema 2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-6 text-left col-sm-10">

              <div class="input-group mb-3">
                <span class="input-group-text">Si me miro en tu </span>
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema2.Palabra2a}} </span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si soy la</span>
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema2.Palabra2b}} </span>
                <span class="input-group-text">y el</span>
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema2.Palabra2c}} </span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si tus ojos son mi espejo</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Y tu</span>
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema2.Palabra2d}} </span>
                <span class="input-group-text">es mi</span>
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema2.Palabra2e}} </span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si vuelvo a nacer en cada</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema2.Palabra2f}} </span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Si soy este o si soy aquel</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Confundo el</span>
                <span class="input-group-text" [style.font-weight]="negrita"> {{poema2.Palabra2g}} </span>
                <span class="input-group-text">y la sombra</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Y aunque el reflejo me nombra</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Yo ya no sé si soy él.</span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Imprimir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


