<!-- Poema 1 -->
<div class="modal fade" id="poema1" tabindex="-1" aria-labelledby="poemaModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="poemaModalLabel1">Poema 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-6 text-left col-sm-6">

              <div class="input-group mb-3">
                <span class="input-group-text">En un </span>
                <span class="input-group-text"> *Palabra1a </span>
                <span class="input-group-text">de mi</span>
                <span class="input-group-text"> *Palabra1b </span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">Vive mi propio</span>
                <span class="input-group-text"> *Palabra1c </span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">es azul,</span>
                <span class="input-group-text"> *Palabra1d </span>
                <span class="input-group-text">, y me sonríe</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">con la</span>
                <span class="input-group-text"> *Palabra1e </span>
                <span class="input-group-text">leve</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">del que sabe</span>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">cosas que no le he contado a nadie.</span>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Imprimir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Poema 2 -->
  <div class="modal fade" id="poema2" tabindex="-1" aria-labelledby="poemaModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="poemaModalLabel2">Poema 2</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="container py-5">
            <div class="row justify-content-center">
              <div class="col-6 text-left col-sm-6">

                <div class="input-group mb-3">
                  <span class="input-group-text">Si me miro en tu </span>
                  <span class="input-group-text"> *Palabra2a </span>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Si soy la</span>
                  <span class="input-group-text"> *Palabra2b </span>
                  <span class="input-group-text">y el</span>
                  <span class="input-group-text"> *Palabra2c </span>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Si tus ojos son mi espejo</span>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Y tu</span>
                  <span class="input-group-text"> *Palabra2d </span>
                  <span class="input-group-text">es mi</span>
                  <span class="input-group-text"> *Palabra2e </span>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Si vuelvo a nacer en cada</span>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text"> *Palabra2f </span>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Si soy este o si soy aquel</span>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Confundo el</span>
                  <span class="input-group-text"> *Palabra2g </span>
                  <span class="input-group-text">y la sombra</span>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Y aunque el reflejo me nombra</span>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text">Yo ya no sé si soy él.</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary">Imprimir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

